*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
     background-color: #5d4954;
    font-family: 'Poppins', sans-serif;    

}

.logo{
   color: rgb(226,226,226);
   letter-spacing: 5px;
   font-size: 25px;

}
.nav-links{
    display:flex;
    justify-content: space-around;
    width:40%;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display:none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;

}

@media screen and (max-width:1024px)
{
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position:absolute;
        right:0px;
        height:92vh;
        top:8vh;
        z-index:1000;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
       transform:translateX(100%);
       transition:transform 0.5s ease-in;
    }
    .nav-links li{
opacity: 0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translate(50px);
    }
    to{
        opacity:1;
        transform: translate(0px);;
    }
}


.container1{
    background-color: black;
}
 .launch{
   
    background-size: 100% 100%;
    font-size:35px;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    padding-top: 50px;
}
 

.flex-box{
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    row-gap: 10px;
    
}
.flex-item{
   width: 90%;
   height: 600px;
   
   border: 10px blue;
   

}
#flex-item1{
    background:white;
}
#flex-item1 .slider{
    width: 80%;
    height: 500px;
    position: absolute;
    left:50%;
top: 60%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-image:url(phone1.jpg) ;
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 10px grey;
    animation:slide 25s infinite linear;
}

@keyframes slide{
    0%{background-image: url(phone1.jpg)}
    45%{background-image: url(phone22.jpg)}
    75%{background-image: url(phone3.jpg)}

}
#flex-item2
{
    
    background:white;
    
}
#flex-item2 h4{
    font-size: 45px;
    font-style:bold;
    padding: 40px 0px;
}
#flex-item2 .image{
    width: 40%;
    margin: 10px;
    height: 200px;
    float: right;
    border: 10px;
    border-color: black;
 border-radius: 2px;
 
 }

 #flex-item2 .ac{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding:5px  ;
 }

 #flex-item2 .now{
    font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
   color: red;
   padding:7px ;
}

#flex-item2 .about{
    font-size: 50px;
    color:black;
    padding-top:120px;
}

#flex-item2 .about-p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding-top:10px ;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#flex-item2 .our{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#flex-item2 .chase{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-top: 15px;
    color: rgb(27, 54, 207);
}
@media screen and (max-width:800px){
    #flex-item2 h4{
        font-size: 30px;
        font-style:bold;
        padding: 40px 0px;
    }
    #flex-item2 .ac{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        padding:5px  ;
     }
     #flex-item2 .about{
        font-size: 30px;
        color:black;
        padding-top:120px;
    }
    #flex-item2 .about-p
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 200;
        padding-top:10px ;
        letter-spacing: 1px;
        word-spacing: 1px;
    }   
    #flex-item2 .our{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    #flex-item2 .chase{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight:bold;
        letter-spacing: 1px;
        word-spacing: 1px;
        padding-top: 15px;
        color: rgb(27, 54, 207);
    }
}
.containerf{
    max-width: 1100px;
    /* background-color: rgba(255,255,255,0.2); */
    margin: auto;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 120px 0;
}
.footer-col{
    width:25%;
    padding:0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    /* background-color: rgba(255,255,255,0.2); */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
     margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: bolck;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links

{
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}
@media(max-width:767px)
{
    .footer-col{
        width:50%;
        margin-bottom:30px;

    }
}
@media(max-width:574px)
{
    .footer{
        margin-top: 60px;
    }
    .footer-col{
        width:100%;
        

    }

}
